.beginner {
    display: flex;
    background-image: url("../images/backgroundrigth.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    height: 100vh;
    position: relative;
}

.overlay {
    z-index: 2;
    background-color: #45B09E;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.beginner>div:not([id="overlay"]) {
    z-index: 1;
}

.beginner_welcome {
    width: 45%;
    color: white;
    font-size: 14px;
}

.beginner_logoWhite {
    height: 280px;
    margin: 70px auto;
}

.beginner_logoGreen {
    display: none;
}

.beginner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.beginner_content .levels {
    font-size: 15px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: 10px solid #45B09E;
}

.beginner .levels div {
    background-color: #45b09e;
    background-image: linear-gradient(90deg, #45b09e 0%, #eaffee 70%);
    color: white;
    display: flex;
    padding: 10px;
    border-radius: 13px;
    margin: 20px auto;
    justify-content: space-between;
    font-weight: bold;
    width: 70%;
    position: relative;
    box-shadow: 0 0 4px #45B09E;
}

.beginner .levels div p {
    color: #45B09E;
}

.beginner .levels div.checked .book {
    display: none;
}

.beginner .levels div.checked .check {
    display: block;
    background-color: white;
    color: gray;
    border-radius: 50%;
}

.beginner .levels div.checked {
    background-color: #45B09E;
}

.beginner .levels div:not(.checked) .check {
    display: none;
}

.beginner .levels div:not(.blocked):hover {
    box-shadow: 0 0 10px #45B09E;
    cursor: pointer;
}

.beginner .levels .blocked {
    background-image: none;
    opacity: .5;
}

.beginner .levels .blocked p {
    color: white;
}

.beginner_content>div:last-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.association_search {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.association_search select {
    padding: 0 20px;
}

.associations>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logout {
    background-color: #45B09E;
    color: white;
    display: flex;
    padding: 5px 10px;
    border-radius: 13px;
    margin: 20px 0;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
    border: 2px solid #45B09E;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    align-self: flex-end;
    width: fit-content;
}

.logout:hover {
    background-color: #EAFFEE;
    color: #45B09E;
}

.logout p {
    margin-left: 30px;
}

@media(max-width:768px) {
    .beginner {
        background-image: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #EAFFEE;
        height: fit-content;
    }

    .beginner_welcome {
        width: 100%;
        color: #45B09E;
        display: flex;
        flex-direction: column-reverse;
        font-size: 15px;
    }

    .beginner_logoWhite {
        display: none;
    }

    .beginner_logoGreen {
        display: inline;
        height: 100px;
        width: 80px;
    }

    .beginner_content {
        width: 100%;
    }

    .beginner_content .levels {
        border-top: 10px solid #45B09E;
    }

    .beginner_content>div:last-of-type {
        display: flex;
        flex-direction: column;
    }

    .association_search h4 {
        font-size: 12px;
    }
}