* {
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: .3s;
    font-family: "Cairo", sans-serif;

}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWd5P6h63Uqh1WdT1sS3U6zQTj_Ka_oQ01xA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: contain; */
}

#root {
    position: relative;
    min-height: 100vh;
}

#root>.overlay {
    background-color: #45B09E;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 200;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 425px) {
    .container {
        padding: 0 20px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

::placeholder {
    font-family: 'cairo', sans-serif;
}